%h1 Listing prueba3s

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @prueba3s.each do |prueba3|
    %tr
      %td= prueba3.nombre
      %td= link_to 'Show', prueba3
      %td= link_to 'Edit', edit_prueba3_path(prueba3)
      %td= link_to 'Destroy', prueba3, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Prueba3', new_prueba3_path
