= form_for :wanted_dog, url: {action: "create"} do |f|
  .row-fluid
  .offset2.span7
    - if @wanted_dog.errors.any?
      #error_explanation
        %h2= "Por favor! Corrige los errores para poder realizar tu publicación."
        %ul
          - @wanted_dog.errors.full_messages.each do |msg|
            %li= msg  
    %div.well
      %div
        = f.label :name, "#{t('dog.name')}"
        = f.text_field :name, :autofocus => true, class: "textField", required: true
      %div
        = f.label :age, "#{t('dog.age')}"
        = f.text_field :age, class: "textField", required: true
      %div
        = f.label :breed, "#{t('dog.breed')}"
        = f.select :breed_id, Breed.all.collect {|b| [b.label, b.id]}
      %div
        = f.label :color, "#{t('dog.color')}"
        = f.text_field :color, class: "textField", required: true
      %div
        = f.label :description, "#{t('dog.description')}"
        = f.text_area :description, class: "textareaForm", required: true
      %div
        = label_tag "Direccion"
        = text_field_tag "address", "", required: true
      %div
        = f.label :image, "#{t('dog.image')}"
        = f.file_field :image, required: true


      %div.inline
        = f.submit "#{t('guardar')}" ,  class: "btn btn-primary"
        = link_to "Cancelar", root_path, class: "btn btn-warning", style: "color: white;"      
