= form_for :lostdog do |f|
  .row-fluid
  .offset2.span7
    %div.well
      %div
        = f.label :name, "#{t('dog.name')}"
        = f.text_field :name, :autofocus => true, class: "textField"
      %div
        = f.label :age, "#{t('dog.age')}"
        = f.text_field :age, class: "textField"
      %div
        = f.label :breed, "#{t('dog.breed')}"
        = f.text_field :breed, class: "textField"
      %div
        = f.label :color, "#{t('dog.color')}"
        = f.text_field :color, class: "textField"
      %div
        = f.label :description, "#{t('dog.description')}"
        = f.text_area :description, class: "textareaForm"
      %div
        = label_tag "Direccion"
        = text_field_tag "address", ""
      %div= f.submit "#{t('guardar')}" ,  class: "btn btn-primary"