%h1 #{t('dog.lost_dog_list')}

.row-fluid
  .span12
    -@lostdogs.each do |lostdog|  
      .media
        .pull-left
          .media-object
            %img{src: lostdog.image.url }
        .media-body
          %h4= lostdog.name
          %p
            %b #{t('dog.age')}:
            = lostdog.age
          %p
            %b #{t('dog.breed')}:
            = lostdog.breed
          %p
            %b #{t('dog.color')}:
            = lostdog.color
          %p
            %b #{t('dog.description')}:
            = lostdog.description

.row-fluid
  .span12
    = link_to "#{t('welcome.new_lostdog_button')}", new_lost_dog_path, class: "btn btn-primary btn-block lost-dogs"
