%h1 #{t('lost_dog.contact_owner')}

.row-fluid
  .span10
    -@lostdogs.each do |lostdog|  
      .media
        .pull-left
          .media-object
            %img.possibles_list{src: lostdog.image.url }
        .media-body
          %h4= lostdog.name
          %p
            %b #{t('dog.breed')}:
            = lostdog.breed.label
          %p
            %b #{t('dog.color')}:
            = lostdog.color
          %p
            %b #{t('dog.description')}:
            = lostdog.description
          %p
            %b Encontrado por
            = lostdog.user.fullname
          %p.contact-item
            %b Celular:
            = lostdog.user.cellphone
          %p.contact-item
            %b  Teléfono:
            = lostdog.user.phone
          %p.contact-item            
            %b  Email:
            = lostdog.user.email
          %p
            %b
              = link_to "Es el mio!", found_dog_index_path(lost_dog_id: lostdog.id.to_s), class: "btn btn-primary", style: "color: white;", method: :post
