.row-fluid
.offset1.span9
  %div.well
    %p
      %b #{t('dog.name')}:
      = @lostdog.name
    %p
      %b #{t('dog.age')}:
      = @lostdog.age
    %p
      %b #{t('dog.breed')}:
      = @lostdog.breed
    %p
      %b #{t('dog.color')}:
      = @lostdog.color
    %p
      %b #{t('dog.description')}:
      = @lostdog.description
    %p
      = image_tag @lostdog.image.url

    %p #{t('dog.seen_on')}
    = gmaps({"map_options" => {zoom: 10, "auto_zoom" => false}, "markers" => { "data" => @markers }} )

    = link_to "#{t('dog.lost_dog_list')}", lost_dog_index_path, class: "btn btn-primary"
