= form_for :lostdog do |f|
  .row-fluid
  .offset2.span7
    %div.well
      %p
        %b #{t('dog.breed')}:
        = @lostdog.breed
      %p
        %b #{t('dog.color')}:
        = @lostdog.color
      %p
        %b #{t('dog.description')}:
        = @lostdog.description
      %p
        = image_tag @lostdog.image.url

      = link_to "Inicio", root_path, class: "btn btn-primary"
