.container-fluid
  .row-fluid
    .span2
      %ul.nav.nav-list
        %li.active
          %button.btn.btn-primary.btn-block.wanted-dogs{type: "button"} #{t('sidebar.wanted_dogs')}
        %li
          %button.btn.btn-primary.btn-block.lost-dogs{type: "button"} #{t('sidebar.lost_dogs')}
        %li
          %button.btn.btn-primary.btn-block.adopt-dogs{type: "button"} #{t('sidebar.adopt_dogs')}
        %li
          %button.btn.btn-primary.btn-block.found-dogs{type: "button"} #{t('sidebar.found_dogs')}
    .span10
      = gmaps({"map_options" => {"auto_adjust" => false, detect_location: true, center_on_user: true , zoom: 13, auto_zoom: true},"markers" => {"data" => @json, "options" => {"rich_marker" => true } } })
  -if current_user
    .row-fluid
      .span12.offset2
        = link_to "#{t('welcome.new_lostdog_button')}", new_lost_dog_path, class: "btn btn-primary", style: "color: white;"
