= form_for @noticium do |f|
  - if @noticium.errors.any?
    #error_explanation
      %h2= "#{pluralize(@noticium.errors.count, "error")} prohibited this noticium from being saved:"
      %ul
        - @noticium.errors.full_messages.each do |msg|
          %li= msg

  .row-fluid
    .span4
      %div
        = f.label :"#{t('titulo')}"
        = f.text_field :title
      %div
        = f.label :"#{t('contenido')}"
        = f.text_area :content
      %div
        = f.submit "#{t('guardar')}"