%p#notice= notice

.row-fluid
  .span
    %div
      %p
        %b #{t('titulo')}:
        = @noticium.title
      %p
        %b #{t('contenido')}:
        = @noticium.content

= link_to "#{t('editar')}", edit_noticium_path(@noticium)
\|
= link_to "#{t('atras')}", noticia_path
