= form_for @prueba do |f|
  - if @prueba.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prueba.errors.count, "error")} prohibited this prueba from being saved:"
      %ul
        - @prueba.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .actions
    = f.submit 'Save'
