%h1 Listing pruebas

%table
  %tr
    %th Nombre
    %th
    %th
    %th

  - @pruebas.each do |prueba|
    %tr
      %td= prueba.nombre
      %td= link_to 'Show', prueba
      %td= link_to 'Edit', edit_prueba_path(prueba)
      %td= link_to 'Destroy', prueba, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Prueba', new_prueba_path
