.row-fluid
.offset1.span9
  %div.well
    %p
      %b #{t('dog.name')}:
      = @dog.name
    %p
      %b #{t('dog.age')}:
      = @dog.age
    %p
      %b #{t('dog.breed')}:
      = @dog.breed.label
    %p
      %b #{t('dog.color')}:
      = @dog.color
    %p
      %b #{t('dog.description')}:
      = @dog.description
    %p
      = image_tag @dog.image.url

    %p #{t('dog.seen_on')}
    = gmaps({"map_options" => {zoom: 10, "auto_zoom" => false}, "markers" => { "data" => @markers }} )

    = link_to "#{t('dog.found_dogs')}", found_dog_index_path, class: "btn btn-primary"
