.line
%div.header
  %div.navbar.navbar-fixed-top.navbar-inverse
    %div.navbar-inner
      %div.container
        %img.logo{:src => "http://www.hdwallpapersfan.com/wp-content/uploads/2013/03/Happy-Dog-Pictures-3.jpg"}      
        .brand
          = link_to "#{t('navbar.app')}", root_path, 'data-no-turbolink' => true, class: "link-to"
        %ul.nav
          %li.home= link_to "#{t('navbar.home')}", root_path, 'data-no-turbolink' => true          
          - if !user_signed_in?
            %li.login= link_to "#{t('navbar.login')}", new_user_session_path
            %li.sign-up= link_to "#{t('navbar.sign_up')}", new_user_registration_path        
          -else
            %li.dropdown
              %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#" }= current_user.first_name 
              %b.navbar.caret
              %ul.dropdown-menu{"role" => "menu"}
                - if current_user.has_pet             
                  %li.sign-out= link_to "#{t('navbar.my_pet')}", user_my_pet_path
                - if current_user.has_possibles
                  %li.sign-out= link_to "#{t('navbar.my_possibilities')}", user_my_possibles_path
                %li.sign-out= link_to "#{t('navbar.sign_out')}", destroy_user_session_path, :method=>'delete'                          
          %li.noticias
            %a{href: noticia_path} #{t('noticias')}
