.line
.container.header
  %div.navbar
    %div.navbar-inner
      %a.brand Mi Mascota
      %ul.nav
        %li.home 
          %a{href: root_url} Home
        - if !user_signed_in?
          %li.login
            = link_to "#{t('navbar.login')}", new_user_session_path
          %li.sign-up
            = link_to "#{t('navbar.sign_up')}", new_user_registration_path        
        -else
          %li.sign-up
            = link_to "#{t('navbar.sign_out')}", destroy_user_session_path, :method=>'delete'
        %li.noticias
          %a{href: "#"} Noticias