%h1 #{t('dog.candidates_dogs_list')}

.row-fluid
  .span10
    -@candidatos.each do |candidato| 
      .media
        .pull-left
          .media-object
            %img{src: candidato.image.url }
        .media-body
          %p
            %b #{t('dog.breed')}:
            = candidato.breed.label
          %p
            %b #{t('dog.color')}:
            = candidato.color
          %p
            %b #{t('dog.description')}:
            = candidato.description
          %p
            %b
              = link_to "Creo que es el mio", user_show_path(candidato.user_id.to_s)+ '?dog_id=' + candidato.id.to_s, class: "btn btn-primary", style: "color: white;"             
