%h1 Observando a los Perros Encontrados

%table
  %tr
    %th Id
    %th Nombre
    %th Breed_id
    %th Latitude
    %th Longitude
    %th Gmaps
    %th Image 
    %th Image File name
    %th Image File size
    %th User ID  

  - @perros.each do |perro|
    %tr
      %td= perro.id
      %td= perro.name
      %td= perro.breed_id
      %td= perro.latitude
      %td= perro.longitude
      %td= perro.gmaps
      %td= perro.image
      %td= perro.image_file_name
      %td= perro.image_file_size
      %td= perro.user_id
      %td= link_to "#{t('destruir')}", perro, :method => :delete, :data => { :confirm => "#{t('esta_seguro?')}" }  
%br