%h1 Observando a los Perros Perdidos

%table
  %tr
    %th Nombre
    %th Breed_id
    %th Latitude
    %th Longitude
    %th Gmaps
    %th Image    

  - @perros.each do |perro|
    %tr
      %td= perro.name
      %td= perro.breed_id
      %td= perro.latitude
      %td= perro.longitude
      %td= perro.gmaps
      %td= perro.image
      %td= link_to "#{t('destruir')}", perro, :method => :delete, :data => { :confirm => "#{t('esta_seguro?')}" }  
%br